.dashboard_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 1rem;
  p {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.edit_profile {
  background: #f4f8fc;
  border-radius: 30px 0px 0px 30px;
  font-size: 12px;
  font-family: var(--fontFamily);
  text-transform: capitalize;
  border: none;
  outline: none;
  line-height: 25px;
  padding: 0.2rem 0.5rem;
  .pen_icon {
    font-size: 0.9rem;
    color: #808080;
  }
}
.user_img {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.close_btn {
  display: flex;
  justify-content: flex-end;
}

.close_icon {
  color: #625c5c;
}

.drawer_menu_icon {
  color: white;
}

.drawer_menu_btn_div {
  display: none;
}

.menu_drawer_btn {
  background: #625c5c !important;
  padding: 0.25rem !important;
  margin-left: 0.5rem !important;
}

.list_item_text span {
  font-size: 14px;
  font-family: var(--fontFamily);
}

@media (max-width: 992px) {
  .drawer_menu_btn_div {
    display: block;
  }
  .list_item_text {
    font-family: var(--fontFamily) !important;
  }
}
